<div class="container">
    <div id="page">
        <header class="header">
            <a href="#menu"></a>
        </header>

        <nav id="menu">
            <ul>
                <li class="select"><a href="index.html">Главная</a> </li>
                <li><a href="team-members2.html">Актеры</a></li>
                <li><a href="contact-us2.html">Контакты</a></li>
            </ul>

        </nav>
    </div>
</div>